/**
 * @name sidebar
 * @description sidebar
 * @createDate 7/29/2020, 11:41:07 AM
 */

 .example-sidebar
     width 180px
     height 100%
     color #ffffff
     flex-shrink 0
     background #242a33

.sidebar-items
    list-style none
    margin-block-start 0
    margin-block-end 0
    padding 0
    .sidebar-item
        height 56px
        display flex
        align-items center
        color #898989
        padding 0 20px
        cursor pointer
        &:hover
        &.router-link-exact-active
            color #fff
            background rgba(0,0,0,0.1)